@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  src: url("/module21_homework/Module17+18/fonts/Roboto-Regular.ttf");
  font-family: "Roboto Regular";
}
@font-face {
  src: url("/module21_homework/Module17+18/fonts/Roboto-Bold.ttf");
  font-family: "Roboto Bold";
}
body {
  font-family: "Roboto Regular";
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px 100px;
  padding-top: 30px;
}

.header__nav-and-btn {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}
nav li {
  display: inline;
}
nav li a {
  padding: 0px 15px;
  font-size: 16px;
  color: #1b1b1b;
}
nav li a:hover {
  color: red;
  cursor: pointer;
}

.header__nav-and-btn button {
  padding: 12px 30px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 25px;
}
.header__nav-and-btn button:hover {
  color: red;
  cursor: pointer;
}

.image-top {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.about-us {
  margin-bottom: 80px;
}
.about-us h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto Bold";
}
.about-us p {
  font-size: 24px;
  margin: 0px 258px;
  text-align: center;
}